/* You can add global styles to this file, and also import other style files */

@mixin animationDelay($delay) {
  -webkit-animation-delay: $delay;
  animation-delay: $delay;
}

// $wave-width: 50px;
// $wave-height: 40px;

.wave {
  position: absolute;
  top: calc(50% - #{$wave-height / 2});
  left: calc(50% - #{$wave-width / 2});
  // margin: auto auto;
  width: $wave-width;
  height: $wave-height;
  text-align: center;
  font-size: 10px;

  .rect {
    background-color: #333;
    height: 100%;
    width: 6px;
    display: inline-block;
    -webkit-animation: waveStrectchDelay 1.2s infinite ease-in-out;
    animation: waveStrectchDelay 1.2s infinite ease-in-out;
  }

  .rect1 {
    @include animationDelay(-1.2s);
  }

  .rect2 {
    @include animationDelay(-1.1s);
  }

  .rect3 {
    @include animationDelay(-1s);
  }

  .rect4 {
    @include animationDelay(-0.9s);
  }

  .rect5 {
    @include animationDelay(-0.8s);
  }
}

@-webkit-keyframes waveStrectchDelay {
  0%, 40%, 100% {
    -webkit-transform: scaleY(0.4);
    transform: scaleY(0.4);
  }

  20% {
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
  }
}

@keyframes waveStrectchDelay {
  0%, 40%, 100% {
    -webkit-transform: scaleY(0.4);
    transform: scaleY(0.4);
  }

  20% {
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
  }
}
